html*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'RocknRoll One', sans-serif;
    background: linear-gradient(to bottom,#87D6CE,#51bcb0);
}


div.homeContainer{
    text-align: center;
    color: white;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 4vh;  
}
header h1{
    font-size:7vh;
}

header img{
    padding: 1vw;
    height: 40px;
}

header nav a{
    color:white;
    text-decoration: none;
    height: 1vh;
    font-size: 2vh;
}

main{
    display: flex;
    height: 90vh;
    background-size:cover;
    justify-content: center;
    align-items: center;
    }

button{
    background-color:blueviolet;
}

.footer{
    display:flex;
    justify-content: space-around;
    background-color: black;
    height: 8vh;
    color: white;
}



