html *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'RocknRoll One', sans-serif;
    background: linear-gradient(to bottom,#87D6CE,#51bcb0);
}


div.homeContainer{
    text-align: center;
    color: white;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8vh;  
}
header h1{
    font-size:8vh;
}

header img{
    padding: 1vw;
    height: 100px;
}

header nav a{
    color:white;
    text-decoration: none;
    height: 1vh;
    font-size: 2vh;
    margin-left: 3vh;
}

main{
    display: flex;
    background-size:cover;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    }

.footer{
    display:flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.footer nav{
    display: flex;
    flex-direction: column;
}

.redesSociales{
 display: flex;
 flex-direction: column;
}

#botonAvion{
    height: 5vh;
    background-color:cadetblue;
}

#signUp{
    height: 9vh;
}



